button{
    border: 1px solid #00af91;
    color: #fff;
    background-color: #00af91;
    margin-left: .5rem;
    width: 5rem;
    height: 5rem;
    padding: 0;
    border-radius: 50%;
    transition: .2s ease-in;

    &:hover{
        color: #00af91;
        background: #fff;
    }
    
}